{{define "styles_layout"}}
	<link href="../../Plugins/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="../../Plugins/Alertify/css/alertify.min.css" rel="stylesheet" type="text/css" />
	<link href="../../Plugins/Alertify/css/themes/semantic.min.css" rel="stylesheet" type="text/css" />
	<link href="../../css/styles.css" rel="stylesheet" type="text/css" />
	<link href="../../Plugins/icomoon/style.css" rel="stylesheet" type="text/css" />

{{end}}