{{define "headerLogin_layout"}}

<nav class="navbar navbar-default" id="cabNavegacion">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        
                <center><h1>MidERP MiniSuper</h1></center>  
  </div>  
</nav>

<div id="Loading">
    <img class="waitgif" alt="kore" src="../../img/wait8.gif" >
</div>

{{end}}
