
<!-- ############################## <  VISTA INDEX > #####################################-->
<!-- ############################## <  index.html  > #####################################-->
<!-- ############################## <  VISTA GENERAL > #####################################-->

<!-- INICIO PAGINA -->
<!DOCTYPE html>
<html lang="es">

<!-- INICIO CABECERA ################################################################################-->
<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content ="IE=edge">
        <title></title>
		<link rel="icon" type="image/png" href="../img/k.ico" />
<!--#################### ESTILOS GENERALES #########################-->
		  {{template "styles_layout"}}
<!--#################### TUS ESTILOS ###############################-->

<!--#################### SCRIPTS GENERALES #########################-->
	 	{{template "scripts_layout"}}
<!--#################### TUS SCRIPTS #########################-->
    	<script src="../../Locales/ExpresionRegular/js/ExpresionRegular.js"></script>
<!--#################### CABECERA #########################-->
     {{template "header_layout" .SSesion }}
</head>
<!-- FINAL CABECERA ###################################################################################-->

<!-- INICIO BODY -->
<body>

			<div class="row well">
				<form action="/ExpresionRegulars" id="searchform" method="POST" class="form">
					<div class="col-md-1"></div>
					<div class="col-md-8">
						<input class="form-control input-lg" type="text" id="searchbox" name="searchbox" value="{{.ExpresionRegular.ENombreExpresionRegular.Nombre}}" placeholder="Buscar ExpresionRegular" required />
					</div>
					<div>
						<input class="btn btn-primary btn-lg" type="submit" value="Buscar" form="searchform" />
					</div>
				</form>
			</div>
			<div class="row"></div>

					<div class="row">
					{{if .SIndex.SRMsj}}
							<div class="alert alert-danger alert-dismissible text-center" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="btn glyphicon glyphicon-remove  btn-lg"></span></button>

								<strong><h2><span aria-hidden="true"></span>{{.SIndex.SRMsj}}</h2></strong>
							</div>
					{{end}}	 <div  class ="row">

						         </div>

						<table class="table table-hover table-responsive">
							<thead id="Cabecera" class="bg-primary">
								{{.SIndex.SCabecera}}
							</thead>
							<tbody id="Cuerpo">
								{{.SIndex.SBody}}
							</tbody>
						</table>

						<div id="Paginacion" class="text-center well">
						{{.SIndex.SPaginacion}}
						</div>

					</div>


	<div class="form-group">
		<div class="col-md-11 text-center">
			<button type="button" onclick="window.location.href = '/ExpresionRegulars/Alta';" class="btn-lg btn-primary">Nueva ExpresionRegular</button>
			
		</div>
	</div>
	<div class ="form-group">
			<div class="col-mid-11 text-center">
				<!--	<button type="button" onclick="window.location.href = '/ExpresionRegulars/detalle';" class="btn-lg btn-primaru">Detalles</button>-->
	</div>
		</div>
</body>


<footer>

	{{template "footer_layout"}}

</footer>

<!-- FIN BODY -->

<!-- FIN PAGINA -->
</html>
