
<!-- ############################## <  VISTA ALTA  > #####################################-->
<!-- ############################## <  ExpresionRegularAlta.html  > #####################################-->
<!-- ############################## <  VISTA GENERAL > #####################################-->


<!-- INICIO PAGINA -->
<!DOCTYPE html>
<html lang="es">

<!-- INICIO CABECERA ################################################################################-->
<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content ="IE=edge">		
        <title></title>
		<link rel="icon" type="image/png" href="../img/k.ico" />
<!--#################### ESTILOS GENERALES #########################-->
		{{template "styles_layout"}}
<!--#################### TUS ESTILOS ###############################-->
		
<!--#################### SCRIPTS GENERALES #########################-->
		{{template "scripts_layout"}}
<!--#################### TUS SCRIPTS #########################-->		        
    	<script src="../../Locales/ExpresionRegular/js/ExpresionRegular.js"></script>
<!--#################### CABECERA #########################-->
        {{template "header_layout" .SSesion }}
</head>
<!-- FINAL CABECERA ###################################################################################-->

<!-- INICIO BODY -->
<body>
	
 {{template "menu_layout" }}
	<div class="col-md-10"  style="padding-bottom: 5%;" id="SeccionCuerpo">
		
		{{if .SEstado}}
			{{if .SMsj}}
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong> 
				</div>
			{{end}}	
			
		{{else}}
			
			{{if .SMsj}}
				<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong> 
				</div>
			{{end}}
		{{end}}	

			<h1>Alta de Expresiones regulares</h1>
			<form id="Form_Alta_ExpresionRegular" class="form-horizontal" method="POST">

						<div class="form-group">
							<label class="col-sm-4 control-label" for="Nombre">Nombre:</label>
							{{if .ExpresionRegular.ENombreExpresionRegular.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="text" name="Nombre" id="Nombre" class="form-control" value="{{.ExpresionRegular.ENombreExpresionRegular.Nombre}}" aria-required="true" aria-describedby="Nombre-error" aria-invalid="true">
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Nombre-error" class="error help-block">{{.ExpresionRegular.ENombreExpresionRegular.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<input type="text" name="Nombre" id="Nombre" class="form-control" value="{{.ExpresionRegular.ENombreExpresionRegular.Nombre}}">
								</div>  
							{{end}}
						</div>
					
						<div class="form-group">
							<label class="col-sm-4 control-label" for="Expresion">Expresion:</label>
							{{if .ExpresionRegular.EExpresionExpresionRegular.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="text" name="Expresion" id="Expresion" class="form-control" value="{{.ExpresionRegular.EExpresionExpresionRegular.Expresion}}" aria-required="true" aria-describedby="Expresion-error" aria-invalid="true">
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Expresion-error" class="error help-block">{{.ExpresionRegular.EExpresionExpresionRegular.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<input type="text" name="Expresion" id="Expresion" class="form-control" value="{{.ExpresionRegular.EExpresionExpresionRegular.Expresion}}">
								</div>  
							{{end}}
							
						</div>


						<div class="form-group">
							<label class="col-sm-4 control-label" for="Etiqueta">Etiquetas:</label>
							{{if.ExpresionRegular.EEtiquetasExpresionRegular.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="text" name="Etiqueta" id="Etiqueta" class="form-control" value="" aria-required="true" aria-describedby="Etiquetas-error" aria-invalid="true" >
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Etiquetas-error" class="error help-block">{{.ExpresionRegular.EEtiquetasExpresionRegular.IMsj}}</em>
								</div>

							{{else}}
								<div class="col-sm-5">
									<input type="text" name="Etiqueta" id="Etiqueta" class="form-control" value="">
								</div>
							{{end}}
						</div>

						<div class="row text-center">
							<button id="AgregaEtiqueta" name="AgregarE" value="Agregar" type="button" class="btn btn-success btn-lg col-md-4" style="float:right;margin-right:30%;"><span class="glyphicon glyphicon-plus"></span>Agregar Etiqueta</button>
						</div>
						<div class="table-responsive container" id="div_tabla_etiquetas">
							<table class="table table-condensed table-hover">
								<thead class="thead-inverse">
									<tr>
										<th>Etiqueta</th>
										<th>Edita|Elimina</th>

									</tr>
								</thead>
								<tbody id="tbody_etiquetas_etiquetas">
									{{.ExpresionRegular.EEtiquetasExpresionRegular.Ihtml}}
							   </tbody>
							</table>
						</div>
						<br>

					<div class="form-group">
						<div class="col-md-9 text-right">
							<button type="button" onclick="window.location.href = '/ExpresionRegulars';" class="btn btn-default btn-lg">Index</button>
							<button type="submit" class="btn btn-primary btn-lg">Guardar</button>
						</div>
					</div>
		</form>
	</div>
</body>

<footer>

	{{template "footer_layout"}}
    
</footer>

<!-- FIN BODY -->

<!-- FIN PAGINA -->
</html>
