
<!-- ############################## <  VISTA DETALLE  > #####################################-->
<!-- ############################## <  ExpresionRegularDetalle.html  > #####################################-->
<!-- ############################## <  VISTA GENERAL > #####################################-->


<!-- INICIO PAGINA -->
<!DOCTYPE html>
<html lang="es">

<!-- INICIO CABECERA ################################################################################-->
<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content ="IE=edge">
        <title></title>
		<link rel="icon" type="image/png" href="../img/k.ico" />
<!--#################### ESTILOS GENERALES #########################-->
		{{template "styles_layout"}}
<!--#################### TUS ESTILOS ###############################-->

<!--#################### SCRIPTS GENERALES #########################-->
		{{template "scripts_layout"}}
<!--#################### TUS SCRIPTS #########################-->
    	 <!--   <script src="../../Locales/ExpresionRegular/js/ExpresionRegular.js"></script>-->
<!--#################### CABECERA #########################-->
        {{template "header_layout" .SSesion }}
</head>
<!-- FINAL CABECERA ###################################################################################-->

<!-- INICIO BODY -->
<body>

 {{template "menu_layout" }}
	<div class="col-md-10"  style="padding-bottom: 5%;" id="SeccionCuerpo">
		{{if .SEstado}}
			{{if .SMsj}}
				<div class="alert alert-success alert-dismissible text-center" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong>
				</div>
			{{end}}
		{{else}}
			{{if .SMsj}}
				<div class="alert alert-danger alert-dismissible text-center" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong>
				</div>
			{{end}}
		{{end}}

			<h1>Evaluacion de Expresion Regular</h1>
			<form id="Form_Detalle_ExpresionRegular" class="form-horizontal" method="POST">
              <input type="text" id="ID" name="ID" value="{{.ExpresionRegular.ID.Hex}}" hidden/>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="Nombre">Nombre:</label>
							{{if .ExpresionRegular.ENombreExpresionRegular.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="text" name="Nombre" id="Nombre" class="form-control" value="{{.ExpresionRegular.ENombreExpresionRegular.Nombre}}" aria-required="true" aria-describedby="Nombre-error" aria-invalid="true" readonly>
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Nombre-error" class="error help-block">{{.ExpresionRegular.ENombreExpresionRegular.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<input type="text" name="Nombre" id="Nombre" class="form-control" value="{{.ExpresionRegular.ENombreExpresionRegular.Nombre}}" readonly>
								</div>
							{{end}}
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label" for="Expresion">Expresion:</label>
							{{if .ExpresionRegular.EExpresionExpresionRegular.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="text" name="Expresion" id="Expresion" class="form-control" value="{{.ExpresionRegular.EExpresionExpresionRegular.Expresion}}" aria-required="true" aria-describedby="Expresion-error" aria-invalid="true" readonly>
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Expresion-error" class="error help-block">{{.ExpresionRegular.EExpresionExpresionRegular.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<input type="text" name="Expresion" id="Expresion" class="form-control" value="{{.ExpresionRegular.EExpresionExpresionRegular.Expresion}}" readonly>
								</div>
							{{end}}
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label" for="Etiquetas">Etiquetas:</label>
							{{if.ExpresionRegular.EEtiquetasExpresionRegular.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="text" name="Etiquetas" id="Etiquetas" class="form-control" value="{{.ExpresionRegular.EEtiquetasExpresionRegular.Etiquetas}}" aria-required="true" aria-describedby="Etiquetas-error" aria-invalid="true" readonly>
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Etiquetas-error" class="error help-block">{{.ExpresionRegular.EEtiquetasExpresionRegular.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									{{.ExpresionRegular.EEtiquetasExpresionRegular.Ihtml}}
								</div>
							{{end}}
			
						</div>
		
				<div class="form-group">
					<div class="col-md-9 text-right">
							<button type="button" onclick="window.location.href = '/ExpresionRegulars';" class="btn btn-default btn-lg">Index</button>
							<button type="button" id="BotonEditar" onclick="EditaExpresionRegular('Detalle')" class="btn btn-primary btn-lg">Edita</button>
							<button type="button" onclick="window.location.href = '/ExpresionRegulars/alta';" class="btn btn-success btn-lg">Nuevo</button>
							<button type="button"  id="BotonEvaluar" class="btn btn-success btn-lg">Evaluar Expresion</button>
							<input type="text" name="Evaluar"  id="Evaluar" style="text-align:center;" >
					</div>
				</div>
				
		</form>
	</div>
	<script src="../../Locales/ExpresionRegular/js/ExpresionRegular.js"></script>
</body>

<footer>

	{{template "footer_layout"}}

</footer>

<!-- FIN BODY -->

<!-- FIN PAGINA -->
</html>
