
<!-- ############################## <  VISTA INDEX > #####################################-->
<!-- ############################## <  index.html  > #####################################-->
<!-- ############################## <  VISTA GENERAL > #####################################-->

<!-- INICIO PAGINA -->
<!DOCTYPE html>
<html lang="es">

<!-- INICIO CABECERA ################################################################################-->
<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content ="IE=edge">		
        <title></title>
		<link rel="icon" type="image/png" href="../img/k.ico" />
<!--#################### ESTILOS GENERALES #########################-->
		{{template "styles_layout"}}
<!--#################### TUS ESTILOS ###############################-->
<link rel="stylesheet" type="text/css" media="screen" href="../../Plugins/JqGrid/css/ui.jqgrid-bootstrap-ui.css" />
<link rel="stylesheet" type="text/css" media="screen" href="../../Plugins/JqGrid/css/ui.jqgrid-bootstrap.css" />

<link rel="stylesheet" type="text/css" media="screen" href="../../Plugins/JqGrid/css/ui.jqgrid.css" />
<link rel="stylesheet" type="text/css" media="screen" href="../../Plugins/jquery-ui/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="../../Plugins/JqGrid/plugins/ui.multiselect.css" />

<!--#################### SCRIPTS GENERALES #########################-->
		{{template "scripts_layout"}}
<!--#################### TUS SCRIPTS #########################-->

		<script src="../../Plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
		<script src="../../Plugins/JqGrid/js/i18n/grid.locale-es.js" type="text/javascript"></script>
		<script src="../../Plugins/JqGrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>
		<script src="../../Plugins/JqGrid/plugins/ui.multiselect.js" type="text/javascript"></script>
		<script src="../../js/Index.js" type="text/javascript"></script>	        
    	<script src="../../Locales/ExpresionRegular/js/RegexpIndex.js"></script>

<!--#################### CABECERA #########################-->
        {{template "header_layout" .SSesion }}
</head>
<!-- FINAL CABECERA ###################################################################################-->

<!-- INICIO BODY -->
<body>
	
 {{template "menu_layout" }}
	<div class="col-md-10" style="padding-bottom: 5%;" id="SeccionCuerpo">
		{{if .SEstado}}

			{{if .SMsj}}
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong> 
				</div>
			{{end}}	
			
		{{else}}

			{{if .SMsj}}
				<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong> 
				</div>
			{{end}}

		{{end}}	
		
		
			<div class="row well">
					<div class="col-md-1"></div>	

					<div class="col-md-8">
						<input class="form-control input-lg" type="text" id="textoabuscar" name="textoabuscar" value="{{.ExpresionRegular.ENombreExpresionRegular.Nombre}}" placeholder="Buscar Expresion regular" required />										
						
					</div>
					<div>
						<button type="button" onclick="GetEspecificToIndex('ExpresionRegulars');" class="btn btn-primary btn-lg">Buscar</button>
						<button type="button" onclick="GetAllToIndex('ExpresionRegulars');" class="btn btn-default btn-lg">Ver Todos</button>
					</div>						
			</div>
			<div class="clear-fix"></div>
			

			<div class="row">
				<div class="row">
					<div class="col-md-11 text-right" style="margin-right: 0%;">
						<button type="button" onclick="window.location.href = '/ExpresionRegulars/alta';" class="btn-lg btn-success"><span class="glyphicon glyphicon-plus-sign"></span>Expresion regular</button>
					</div>
				</div>
				<div id="grid" style="margin-left: 4.5%; margin-top:2%;">
					<table id="list" cellpadding="0" cellspacing="0"></table>
					<div id="pager" style="text-align:center;"></div>
				</div>
        	</div>
    </div>
</body>

<footer>{{template "footer_layout"}}</footer>

<!-- FIN BODY -->

<!-- FIN PAGINA -->
</html>

