@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1aich0');
  src:  url('fonts/icomoon.eot?1aich0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1aich0') format('truetype'),
    url('fonts/icomoon.woff?1aich0') format('woff'),
    url('fonts/icomoon.svg?1aich0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-home2:before {
  content: "\e901";
}
.icon-cog:before {
  content: "\e994";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-menu2:before {
  content: "\e9be";
}
.icon-tab:before {
  content: "\ea45";
}

